 <div class="block-panel">
      <h2 class="block-panel-heading">{{name}}</h2>
      
      <div class="panel panel-default">
        <div class="panel-body chat-body">
          {{#each messages}}
          <span class="message"><span class="user" style="color: #{{userColor}}">{{userName}}</span> {{messageText}}</span>
          {{#if file}}
          <img class="image" src="data:image/png;base64, {{file}}"/>
          {{/if}}
        {{/each}}
        </div>
        <div class="row message-input">
        <div class="col-lg-12">
          <form method="POST" enctype="multipart/form-data">
            <div class="field">         
            <input type="file" id="file" name="file" />
            </div>
            <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Send</button>
            </span> 
            <input type="text" id='messageText' name="messageText" class="form-control">
          </div>
          </form>
        </div>
      </div>
      </div> 
    </div>
